<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>{{title}}</title>
</head>
  <body>
    <div style="text-align: center">
      <h1>{{title}}</h1>
      <img src="{{cover_image}}" alt="Cover Image" />
      <h4>Authors: {{authors}}</h4>
      <h4>Editors: {{editors}}</h4>
      <h4>Typesetting: {{typesetting}}</h4>
      <h4>ePub Conversion: {{epub-conversion}}</h4>
      <p>{{rights}}</p>
    </div>
  </body>
</html>
